@import url(https://db.onlinewebfonts.com/c/bb25f84423b9515a1d475d02d2de6462?family=Bell+MT+Semi+Bold);

/* Reset osnovnih postavki */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #fff;
    scroll-behavior: smooth; /* Glatko skrolanje */
}

/* Osnovne boje */
:root {
    --dark-red: #8B0000;
    --dark-red-nav: #740202;
    --wheat: #F5DEB3;
    --white: #ffffff;
}

/* Navigacija */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255,255,255,0);
    z-index: 1000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    max-height: 100px; /* Ovisno o veličini logoa */
    display: block; /* Pobrinimo se da je logo vidljiv */
    transition: max-height 0.3s ease; /* Animacija promjene veličine loga */
}

/* Hamburger meni */
.hamburger {
    background:rgba(139,0,0,0.8);
    padding: 10px;
    border-radius: 16px;
    display: block;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 5px;
    transition: transform 0.3s ease;
}

/* Side meni */
.side-menu {
    position: fixed;
    top: 0;
    left: -250px; /* Početna pozicija izvan ekrana */
    width: 250px;
    height: 100%;
    background: var(--dark-red-nav);
    overflow: auto;
    transition: left 0.3s ease;
    list-style: none;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.side-menu.active {
    left: 0;
}

.side-menu li {
    margin: 20px 0;
}

.side-menu li a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

.side-menu li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--white);
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

.side-menu li a:hover::after {
    width: 100%; 
}

.side-menu li a:hover {
    color: var(--wheat);
}

/* Hero sekcija */
.hero {
    position: relative;
    overflow: hidden;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Puni visinu ekrana */
    overflow: hidden;
}

.heroVideo {
    width: 100%;
    height: 100%;
    object-fit:fill; /* Zadrži proporcije videa */
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1); /* Zatamnjenje videa */
    z-index: 1; /* Ispod teksta */
}


/* Parallax sekcije */
.section {
    text-align: center;
    align-items: center;
    display: flex;
    height: 100vh;
    padding: 140px 100px;
}

.section h2{
    font-size: 2.5rem;
}
.section p{
    font-size: 1.125rem;
}
.section-text{
    flex: 1;
}

.section-img{
 flex: 1.3;

}

.section-img img{
    width: 500px;
    height: auto;
    object-fit: scale-down;
    display: felx;
    border-radius: 16px;

}

.section:nth-child(even) {
    background-color: var(--dark-red);
}

.section:nth-child(odd) {
    background-color: var(--wheat);
    color: var(--dark-red);
}


/* Osnovni stilovi za sekciju proizvoda */

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.products-title {
    font-size: 2rem;
    color: var(--dark-red);
    margin-bottom: 20px;
}

h2.products-title{
    text-align: center;
    padding-top: 20px;
}

.product-card {
    position: relative;
    width: 350px;
    height: 500px;
    overflow: hidden;
    border: 2px solid var(--dark-red);
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-info {
    text-align: center;
    padding: 10px;
    background: var(--dark-red);
    color: var(--white);
}

.product-info h3 {
    margin: 0;
    font-size: 1.2rem;
}

.product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 10;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}

.product-card.active .product-overlay {
    opacity: 1;
    transform: scale(1);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--white);
    color: var(--dark-red);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hover efekti */
.product-card:hover {
    transform: scale(1.05);
}

.product-card:hover .product-info {
    background: var(--wheat);
    color: var(--dark-red);
}

/* Sekcija galerije */
.gallery-section {
    padding: 20px;
    background-color: var(--wheat);
}

.gallery-title {
    text-align: center;
    font-size: 2rem;
    color: var(--dark-red);
    margin-bottom: 20px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.gallery-img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item:hover .gallery-img {
    transform: scale(1.05);
}

/* Modal */
.gallery-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.gallery-modal .modal-content {
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
}

.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/*proizvodnja*/
.production-section{
    background-color: var(--dark-red);
    align-items: center;
    text-align: center;
}
.production-title{
    font-size: 2rem;
    color: var(--wheat);
    margin-bottom: 20px;
    padding-top: 20px;
}

.yt-video-production{
    width: 1200px;
    height: 678px;
    border-radius: 16px;
    margin-bottom: 20px;
}

/* Stilovi za kontakt sekciju */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-section {
    padding: 40px 0;
    background-color: var(--wheat);
}

.section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--dark-red);
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.contact-form, .contact-info {
    flex: 1;
    min-width: 280px;
    margin: 10px;
    padding: 20px;
    background-color: var(--dark-red-nav);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contact-form h3, .contact-info h3 {
    margin-bottom: 15px;
    color: var(--wheat);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn {
    background-color: var(--wheat);
    color: var(--dark-red);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    scale: 1.1;
    background-color: #e0c798;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.map-container {
    margin-top: 20px;
}

.footer {
    background: var(--dark-red);
    color: var(--white);
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-left p, .footer-right {
    margin: 0;
}

.footer-left a{
    text-decoration: none;
    color: var(--wheat);
    font-size: 1.2rem;

}

.footer-right {
    display: flex;
    gap: 10px;
}

.social-icon {
    color: var(--white);
    font-size: 24px;
    text-decoration: none;
}

.social-icon:hover {
    color: var(--wheat);
}

.footer-divider {
    border: 0;
    height: 2px;
    background: var(--wheat); 
    margin: 0 auto; 
    width: 100%; 

}

/* Responsivnost */
@media screen and (max-width: 768px) {
    nav {
        background: var(--dark-red);
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .heroVideo {
        margin-top: 120px;
        width: 100%;
        height: auto;
    }

    .video-container{
        height: 38vh;
    }

    .section{
        flex-direction: column;
        height: 80vh;
    }

    .section-img img{
        display:none;
        height: 300px;
        width: 100%;
        object-fit: scale-down;
    }

    .product-card {
        width: 150px;
        height: 250px;
    }

    .gallery-item {
        /* Prilagodite visinu slike za manje ekrane */
        height: auto;
    }

    .gallery-img {
        /* Osigurajte da slike ne preplave svoj kontejner */
        max-width: 92%;
        height: auto;
    }

    .gallery-modal .modal-content {
        max-width: 90%;
        max-height: 80%;
    }

    .prev, .next {
        font-size: 20px;
        padding: 12px;
    }

    .close {
        font-size: 30px;
    }

    .production-section{
        margin: 0;
        padding: 0;
    }
    .yt-video-production{
        width: auto;
        height: 350px;
    }

}
